# SPDX-FileCopyrightText: 2012-2026 Open Assessment Technologies S.A.
#
# SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-TAO-Commercial-License

###> Phpstorm IDE ###
/.idea/
###< Phpstorm IDE ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
supervisord.*
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> GCP ###
/config/gcp/*.json
###< GCP ###

###> JWT ###
/config/jwt/*.pem
###< JWT ###

###> OAuth2 ###
/config/oauth2/*.key
###< OAuth2 ###

###> Benchmark ###
/benchmark/keys/platform.key
/benchmark/keys/tool.key
/benchmark/scenarios/*.sh
/benchmark/scenarios/k6
###< Benchmark ###

/config/keys
/composer.phar

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
